<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    {% load static %}
    <link rel="stylesheet" href="{% static 'home/css/book.css' %}">

    <title>Book an Experience</title>
</head>
<body>
    <h1>Book World Class Experiences</h1>
    
    <form method="post" class="myform" action="{% url 'book' %}">
        {% csrf_token %}
        <input class="myinput" type="number" name="member_id" placeholder="Enter Member ID" required>
        <input class="myinput" type="number" name="itinerary_id" placeholder="Enter Itinerary ID" required>
        <button class='btn' type="submit">Submit</button>
    </form>

    <div class="table">
        {% for table in tables %}
            {{ table|safe }}
        {% endfor %}
    </div>
    <a href="/">Home</a>
</body>
</html>